html, body {
  width: 100%;
  height: 100%;
  cursor: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  background-color: #212121;
  overflow: hidden;
  margin: 0;
}

@keyframes logo {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#bg {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  opacity: 0.075;
}
#list {
  display: grid;
  position: absolute;
  top: 100px;
  width: calc(100% - 20px);
  height: calc(100% - 115px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0 10px 0 10px;
}
.list.categories.outer {
  opacity: 0.25;
}
.list.categories.inner {
  opacity: 0.5;
  margin-top: 14px;
  margin-bottom: 13px;
}
.list.categories.selected {
  grid-column: 3;
  margin-top: 11px;
  margin-bottom: 12px;
}
.list.games {
  text-align: center;
  background-color: black;
  outline-offset: 3px;
  margin: 0;
}
.list.games.empty {
  opacity: 0.55;
  background-color: transparent;
  grid-area: 2 / 2 / span 3 / span 3;
  padding-top: 175px;
}
