/*
* GLOBAL
*/
html,
body {
  width: 100vw;
  height: 100vh;
  cursor: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  background-color: #212121;
  overflow: hidden;
  margin: 0;
}
/*
* APP
*/
/* EMPTY ALERT */
#emptyAlert {
  z-index: -2;
  text-align: center;
  margin: 45vh 0;
}
/* BACKGROUND */
#background {
  z-index: -1;
  width: 100vw;
  object-fit: cover;
  opacity: 0.075;
}
/* CATEGORIES LIST */
#list {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: calc(100vw - 2 * 20px);
  height: 64px;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  border-bottom: 1px solid var(--categoryColor, #888);
  margin: 20px 20px 19px 20px;
}
.category {
  color: #888;
  width: calc((100vw - 2 * 20px) / 5);
}
.category.selected {
  color: var(--categoryColor, #888) !important;
}
/* GAMES GRID */
#grid {
  position: absolute;
  top: calc(64px + 2 * 20px);
  left: 0px;
  display: grid;
  width: calc(100vw - 2 * 20px);
  height: calc(100vh - 3 * 20px - 64px);
  grid-gap: 10px;
  --gameWidth: calc((100vw - 2 * 20px - 2 * 10px) / 3);
  --gameHeight: calc(215 * var(--gameWidth, 460px) / 460);
  grid-template-columns: repeat(3, var(--gameWidth, 460px));
  grid-template-rows: repeat(auto-fill, var(--gameHeight, 215px));
  grid-auto-columns: var(--gameWidth, 460px);
  grid-auto-rows: var(--gameHeight, 215px);
  grid-auto-flow: row;
  margin: 20px 20px 0 20px;
}
.game {
  width: 100%;
  height: 100%;
  background-color: #212121;
}
div.game.selected {
  outline-offset: 2px;
  outline: 3px solid var(--categoryColor, #888);
}
@keyframes launch {
  from, to {outline-offset: 2px;}
  50% {outline-offset: -5px;}
  85% {outline-offset: 5px;}
}
div.game.selected.launching {
  animation-name: launch;
  animation-duration: .25s;
}
.toastify:not(.version) {
  z-index: 2019;
  background: #212121 !important;
  outline: 2px solid;
  outline-offset: 0;
}
.toastify:not(.version).launching {
  outline-color: #e36d25;
}
.toastify:not(.version).error {
  outline-color: #fa0606;
}
.toastify:not(.version) > b {
  color: var(--categoryColor, #fff);
}
.toastify.version {
  z-index: 2019;
  color: #212121;
  background: #ffd700 !important;
  outline: none;
}
