<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="lib/toastify.css" />
  <script>
    const path = require('path'),
      fs = require('fs'),
      { remote, ipcRenderer, shell } = require('electron');
    const dir = path.join(remote.app.getPath('documents'), 'AedronShrine');
    document.write("<script src='lib/vue" + ((remote.app.isPackaged) ? '.min' : '') + ".js'>")
  </script>
  </script>
  <script src="lib/toastify.js"></script>
  <script src="Library.js"></script>
  <script src="main.js" defer></script>
</head>

<body>
  <div id="emptyAlert">
    <h1><b>Your library is empty !</b><br />Press <kbd>F5</kbd> to open the configuration folder.</h1>
  </div>
  <div id="app">
    <img id="background" v-bind:src="bgSrc" />
    <audio id="music" v-bind:src="muSrc" autoplay></audio>
    <div id="list" v-if="superGame === null">
      <h5 class="category">{{ (categories[0] !== null) ? categories[0].name : '' }}</h5>
      <h3 class="category">{{ (categories[1] !== null) ? categories[1].name : '' }}</h3>
      <h1 class="category selected">{{ (categories[2] !== null) ? categories[2].name : '' }}</h1>
      <h3 class="category">{{ (categories[3] !== null) ? categories[3].name : '' }}</h3>
      <h5 class="category">{{ (categories[4] !== null) ? categories[4].name : '' }}</h5>
    </div>
    <div id="grid" v-if="superGame === null">
      <div class="game" v-for="(game, index) in games" v-bind:key="index">
        <img class="game" v-if="typeof game.banner !== 'undefined' && game.banner !== null"
          v-bind:src="gamesBanners[index]" />
      </div>
    </div>
    <div id="sub" v-if="superGame !== null">
      <div class="super">
        <img class="super" v-if="superGame.banner !== null" v-bind:src="superBanner" />
        <h1 class="super">{{ superGame.name }}</h1>
      </div>
      <ul id="subList" class="game">
        <li class="game" v-for="(game, index) in games" v-bind:key="index">
          <h3 v-html="highlight(game.name)"></h3>
        </li>
      </ul>
    </div>
  </div>
  <script>
    var App = new Vue({
      el: '#app',
      data: {
        bgSrc: null,
        muSrc: null,
        categories: new Array(5).fill(null),
        games: [],
        superGame: null
      },
      computed: {
        gamesBanners: function () {
          return this.games.map(game => (typeof game.banner !== 'undefined' && game.banner !== null) ? path.join(dir, 'banners', this.categories[2].name, game.banner) : '')
        },
        superBanner: function () {
          return (typeof this.superGame.banner !== null) ? path.join(dir, 'banners', this.categories[2].name, this.superGame.banner) : ''
        }
      },
      methods: {
        highlight: function (name) {
          return name.replace(this.superGame.name, "<span style='color:var(--categoryColor, #888);'>" + this.superGame.name + "</span>")
        }
      }
    })
  </script>
</body>

</html>
